# --- Настройки приложения Go ---
APP_PORT=8080

# --- Настройки Nginx & Let's Encrypt ---
# Укажите ваш реальный домен, привязанный к серверу (например: ://mydomain.com)
DOMAIN_NAME=localhost

# Email для регистрации сертификата Let's Encrypt
CERTBOT_EMAIL=admin@example.com

# --- Настройки авторизации (Basic Auth) ---
AUTH_USER=admin
AUTH_PASSWORD=my_secure_password_123
